* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    background-color: #141414;
}

header {
    padding: 40px 50px 10px 50px;
    background-color: #141414;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 160px;
    height: 33px;
}

.menu {
    display: flex;
    gap: 40px;
    list-style-type: none;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 17px;
}

/* --- Hero section --- */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 80px;
}

.image {
    width: 650px;
    height: 873.44px;
}

.image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.content {
    max-width: 500px;
}

.content h2 {
    font-size: 70px;
    font-weight: 400;
    color: #fff;
    line-height: 88px;
    margin-bottom: 80px; /* убрал margin-top: 300px */
}

.content h2 span {
    font-size: 75px;
    font-weight: 400;
}

.content p {
    font-size: 15px;
    font-weight: 400;
}

.platforms {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

.icons {
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.icons:hover {
    transform: scale(1.1);
}
